
<div class="flex-parent">

    <div layout="column" layout-align="center center">

        <div flex><h1>Countries and Capitols</h1></div>
        <hr width="100%">

        <div layout="row">
            <div flex="33"></div>
            <div flex="33" layout-align="center center"><p>This view is just responsible for displaying some
                explanatory text about your app. It's perfectly fine to use
                lorem filler, but if you're looking to create a more polished experience,
                you might include an image, graphic, or other visual embellishment.</p>
            </div>
            <div flex="33"></div>
        </div>
        <md-button></md-button>

        <md-button class="md-raised" href="#/list">Browse Countries</md-button>

    </div>
</div>